body
{
    background-image: url(../Bilder/students.jpeg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

img{
	background-color: white;
	border-radius: 10px;
}
p
{
	color: black;
}
.sidtext
{
	background-color: white; 
	font-size: 20px;
   	height:550px;
	width: 440px;
	border-radius: 10px;
}