body
{
    background-image: url(../Bilder/female-student.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

div
{
	color: white;
	list-style-type: none;
    overflow: hidden;
    background-color: transparent;
}
.parag p
{
    background: orange;
    opacity: 0.7;
    border-radius: 20px;
    position: absolute;
    width: 50%;
    height: 100px;
    left: 30%;
    top: 60%;
    margin-left: -25%;
    margin-top: -250px; 
}


p
{
    color: white;
    font-size: 23px;
    position: absolute;
    width: 50%;
    height: 200px;
    left: 30%;
    top: 60%;
    margin-left: -25%;
    margin-top: -250px; 
}

li 
{
    float: right;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover 
{
    text-decoration: underline;
}

h1
{
	font-size: 100%;
}

.meny
{
	text-align: right;
	font-size: 120%;
	position: absolute;
    top: 10px;
    right: 50px;
} 

	
