body
{
    background-image: url(../Bilder/students.jpeg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

p
{
	color: black;
}
.sidtext
{
	background: orange;
    opacity: 0.8;
    color: white;
	font-size: 20px;
   	height:400px;
	width: 440px;
	border-radius: 10px;
}