body
{
	background-color: white;
}
.bakrund
{
	background-image: src="Bilder/female-student.jpg"
}
div
{
	color: white;
	list-style-type: none;
    overflow: hidden;
    background-color: #0f3063;
}

li 
{
    float: right;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover 
{
    background-color: #808080;
}

h1
{
	font-size: 100%;
}

.meny
{
	text-align: right;
	font-size: 120%;
	position: absolute;
    top: 50px;
    right: 50px;
} 

.bakrund
{
    width:750px;
    height:400px;
    margin-right: 10px;
    float: right;
}

p
{
	font-size: 30px;
	
}
