body
{
	background-color: #39a4d6;
}
div
{
	background-color: white;
}
h1
{
	font-size: 100%;
}
.meny
{
	text-align: right;
	font-size: 130%;
	position: absolute;
    top: 50px;
    right: 50px;
}
.bakrund
{
    width:800px;
    height:500px;
    margin-right: 0px;
    float: right;
}

p
{
	font-size: 40px;
}
